* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  position: relative;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
}
.box .tab-pane {
  margin: -1px 10px 10px -10px;
}
.box .tab-pane label {
  padding: 8px 16px;
  cursor: pointer;
  background: blueviolet;
  border: 1px solid blueviolet;
  box-sizing: border-box;
  color: #fff;
}
.box .tab-pane input {
  display: none;
}
.box .tab-pane input:checked ~ .tab-content {
  opacity: 1;
  visibility: visible;
}
.box .tab-pane input:checked ~ label {
  background: #fff;
  border: 1px solid blueviolet;
  border-bottom: none;
  color: blueviolet;
}
.box .tab-pane .tab-content {
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.75s all;
  font-size: 14px;
  text-indent: 2rem;
}
